@model Slider
<img style="width:300px;height:140px" src="~/img/slider/@Model.Image" />
<div class="mt-2">
    <h1>@Model.Title</h1>
    <p>@Model.Description</p>
</div>
<a asp-action="Index" class="btn btn-outline-danger btn-fw m-2">Go Back</a>

