@model Blog

<img src="~/img/blog/@Model.Image" />
<div class="mt-2">
    <h6>@Model.Title</h6>
    <p>@Model.By</p>
    <p>@Model.CreateTime</p>
    <a asp-action="Index" class="btn btn-outline-danger btn-fw m-2">Go Back</a>
</div>